---
import Section from "@components/UI/Section.astro";
import PrinciplesIcon from "@images/principles.svg";
import { type Locale, useTranslations } from "@i18n/ui";

import howToEn from "@content/howTo/en.json";
import howToBg from "@content/howTo/bg.json";
import howToEs from "@content/howTo/es.json";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const t = useTranslations(locale);

const howToMap = { en: howToEn, bg: howToBg, es: howToEs };
const tabs = howToMap[locale];
---

<Section id="how-to" title={t("howTo.title")} class="wrapper">
  <main data-tabs>
    <div role="tablist" aria-labelledby="how-to-title">
      {
        tabs.map((tab, index) => (
          <button
            data-umami-event="how-to-tab-click"
            id={`tab-${index}`}
            role="tab"
            aria-selected={index === 0 ? "true" : "false"}
            aria-controls={`panel-${index}`}
            tabindex={index === 0 ? "0" : "-1"}
            data-tab-button
          >
            {tab.title}
          </button>
        ))
      }
    </div>

    {
      tabs.map((tab, index) => (
        <section
          id={`panel-${index}`}
          role="tabpanel"
          aria-labelledby={`tab-${index}`}
          hidden={index !== 0}
          tabindex="0"
          data-tab-panel
        >
          {tab.items.map((item) => (
            <article>
              <h3>{item.title}</h3>
              <p>{item.description}</p>
              <PrinciplesIcon />
            </article>
          ))}
        </section>
      ))
    }
  </main>
</Section>
