---
import Section from "@components/UI/Section.astro";
import tabs from "@data/howTo.json";
import PrinciplesIcon from "@images/principles.svg";
---

<Section id="how-to" title="Principles & Approach" class="wrapper">
  <main data-tabs>
    <div role="tablist" aria-labelledby="how-to-title">
      {
        tabs.map((tab, index) => (
          <button
            data-umami-event="how-to-tab-click"
            id={`tab-${index}`}
            role="tab"
            aria-selected={index === 0 ? "true" : "false"}
            aria-controls={`panel-${index}`}
            tabindex={index === 0 ? "0" : "-1"}
            data-tab-button
          >
            {tab.title}
          </button>
        ))
      }
    </div>

    {
      tabs.map((tab, index) => (
        <section
          id={`panel-${index}`}
          role="tabpanel"
          aria-labelledby={`tab-${index}`}
          hidden={index !== 0}
          tabindex="0"
          data-tab-panel
        >
          {tab.items.map((item) => (
            <article>
              <h3>{item.title}</h3>
              <p>{item.description}</p>
              <PrinciplesIcon />
            </article>
          ))}
        </section>
      ))
    }
  </main>
</Section>
