---
import "../styles/global.css";
import { Font } from "astro:assets";

import Header from "../components/Header.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ivan Pozdnovskii | Web Developer</title>
    <!-- <meta name="description" content={description} /> -->
    <!-- <meta property="og:title" content={`Anastasiya Pavlyk | ${title}`} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/opengraph.jpg" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalURL} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={`Anastasiya Pavlyk | ${title}`} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/opengraph.jpg" /> -->
    <link rel="canonical" href={canonicalURL} />
    <meta name="view-transition" content="same-origin" />
    <Font cssVariable="--font-space-grotesk" preload />
    <Font cssVariable="--font-space-mono" preload />
  </head>
  <body class="bg-zinc-800 text-white">
    <Header />
    <slot />
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const header = document.getElementById("header");
        const burger = document.getElementById("header-btn");
        const nav = document.getElementById("header-nav");
        const headerContent = document.getElementById("header-content");

        if (!header) return;

        let isOpen = false;
        function toggleMenu() {
          console.log(isOpen);
          isOpen = !isOpen;
          header.classList.toggle("header--open", isOpen);
          burger.setAttribute("aria-expanded", isOpen);

          if (isOpen) {
            setTimeout(() => nav?.querySelector("a")?.focus(), 150);
          }
        }

        burger.addEventListener("click", toggleMenu);

        document.addEventListener("keydown", (e) => {
          if (e.key === "Escape" && isOpen) {
            toggleMenu();
            burger.focus();
          }
        });

        document.addEventListener("click", (e) => {
          if (isOpen && !headerContent.contains(e.target)) {
            toggleMenu();
          }
        });

        nav.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", () => {
            if (isOpen) {
              toggleMenu();
            }
          });
        });

        // Dialogue
        const dialog = document.querySelector("dialog");

        if (!dialog) return;

        setTimeout(() => {
          dialog.showModal();
        }, 1200);

        dialog.addEventListener("click", (event) => {
          const isBackdropClick = event.target === dialog;
          if (isBackdropClick) {
            dialog.close();
          }
        });

        // Url cleaner
        document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
          anchor.addEventListener("click", (e) => {
            e.preventDefault();
            const id = anchor.getAttribute("href").substring(1);
            const target = document.getElementById(id);
            if (target) {
              target.scrollIntoView({ behavior: "smooth" });
            }
          });
        });
      });
    </script>
  </body>
</html>
