---
import "../styles/global.css";
import { Font } from "astro:assets";

import Header from "../components/Header.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const isProduction = Astro.url.hostname === Astro.site.hostname;

const title = "Ivan Pozdnovskii | Web Developer";
const description =
  "Modern Website development with Astro, Webstudio, Webflow, and Shopify. Expert in site speed optimization, SEO, and accessibility for higher rankings.";
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    {/* Если это НЕ продакшн, запрещаем индексацию */}
    {!isProduction && <meta name="robots" content="noindex, nofollow" />}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/opengraph.webp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/opengraph.webp" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="robots" content="index, follow" />
    {
      isProduction && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="63b3ed92-ca97-4846-a043-2d135db38955"
        />
      )
    }
    {isProduction && <script>console.log('isProduction')</script>}
    {!isProduction && <script>console.log('NotisProduction')</script>}

    <!-- <meta name="view-transition" content="same-origin" /> -->
    <Font cssVariable="--font-space-grotesk" preload />
    <Font cssVariable="--font-space-mono" preload />
  </head>
  <body class="bg-zinc-800 text-white">
    <div
      style="display:none"
      data-debug-host={Astro.url.hostname}
      data-debug-site={Astro.site?.hostname}
    >
    </div>
    <Header />
    <slot />
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const header = document.getElementById("header");
        const burger = document.getElementById("header-btn");
        const nav = document.getElementById("header-nav");
        const headerContent = document.getElementById("header-content");

        if (!header) return;

        let isOpen = false;
        function toggleMenu() {
          isOpen = !isOpen;
          header.classList.toggle("header--open", isOpen);
          burger.setAttribute("aria-expanded", isOpen);

          if (isOpen) {
            nav.removeAttribute("inert");
            setTimeout(() => nav?.querySelector("a")?.focus(), 150);
          } else {
            nav.setAttribute("inert", "");
          }
        }

        burger.addEventListener("click", toggleMenu);

        document.addEventListener("keydown", (e) => {
          if (e.key === "Escape" && isOpen) {
            toggleMenu();
            burger.focus();
          }
        });

        document.addEventListener("click", (e) => {
          if (isOpen && !headerContent.contains(e.target)) {
            toggleMenu();
          }
        });

        nav.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", () => {
            if (isOpen) {
              toggleMenu();
            }
          });
        });

        // Dialogue
        // const dialog = document.querySelector("dialog");

        // if (!dialog) return;

        // setTimeout(() => {
        //   dialog.showModal();
        // }, 1200);

        // dialog.addEventListener("click", (event) => {
        //   const isBackdropClick = event.target === dialog;
        //   if (isBackdropClick) {
        //     dialog.close();
        //   }
        // });

        // Url cleaner
        document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
          anchor.addEventListener("click", (e) => {
            e.preventDefault();
            const id = anchor.getAttribute("href").substring(1);
            const target = document.getElementById(id);
            if (target) {
              target.scrollIntoView({ behavior: "smooth" });
            }
          });
        });
      });
    </script>
    <script>
      import { initGoUpAnimation } from "../scripts/animations/h1-animation.js";

      document.addEventListener("DOMContentLoaded", () => {
        initGoUpAnimation();
      });
    </script>
  </body>
</html>
